{
    "name": "{{addon.name}}",
    "version": "{{addon.version}}",
    "title": "{{addon.title}}",
    "description": "{{addon.description}}",
    "homepage": "{{&addon.homepage}}",
    "license": "Apache",
    "author": {
        "name": "{{author.name}}",
        "email": "{{author.email}}",
        "url": "{{&author.url}}"
    },
    "main": "./node/main",
    "dependencies": {
        
    },
    "plugin": {
        "provides": [
            
        ],
        "consumes": [
            
        ]
    },
    "client": {
        "main": "client"
    }
}
