{
    "name": "{{addon.name}}",
    "version": "{{addon.version}}",
    "title": "{{addon.title}}",
    "description": "{{addon.description}}",
    "homepage": "{{&addon.homepage}}",
    "license": "Apache",
    "author": {
        "name": "{{author.name}}",
        "email": "{{author.email}}",
        "url": "{{&author.url}}"
    },
    {{#gen.server-side}}
    "main": "./node/main",
    "plugin": {
        "provides": [
            
        ]{{#gen.consumer}},{{/gen.consumer}}
        "consumes": [
           {{#addon.consumes}}
           {{&str}}
           {{/addon.consumes}}
        ]
    },
    {{/gen.server-side}}
    "dependencies": {
        
    },
    "client": {
        "main": "client"
    }
}
